


html {
    background-image: url("../img/moon.jpg");
    background-size: cover;
}



.boiteGrise {
    /* position: absolute;
    width: 1080px;
    height: 790px;
    left: 420px;
    top: 174px; */

    display: grid;
    grid-template-columns: 8fr 2fr; 
    
    width: 62%;
    margin: auto;    
    height: 790px;

    background: #CFCCD6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

header {
    
    /* position: absolute;
    width: 388px;
    height: 208px;
    left: 420px;
    top: 70px; */

    margin-left: 20%;

    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 0.3em;

    color: #FFFFFF;
}

.affichage {
    /* position: absolute;
    width: 800px;
    height: 663px;
    left: 448px;
    top: 193px; 

    
 */

    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 10px;

    display: grid;
/*     grid-template-columns: minmax(150px, 1fr);
 */}

nav {
    

}